body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.page-container {
    display: flex;
    justify-content: center;
    height: 50%;
}

.calculator-container {
    border: 2px solid black;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.resultScreen {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-end;
    border-bottom: 1px solid black;
    font-size: 2rem;
    padding: 8px;
    flex: 1;
    margin-bottom: 8px;
}

.equation {
    max-width: 100%;
    font-size: calc(100%/1);
    overflow-wrap: break-word;
    font-size: 2rem;
}

.temp-result {
    max-width: 100%;
}

.temp-result {
    color: grey;
}

.buttons {
    display: flex;
    flex: 3;
}

.main-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 8px;
    height: 100%;
}

.main-buttons button {
    width: 15%;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    border-radius: 50%;
}

hr {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}